.order-page {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.order-top {
  display: flex;
  align-items: center;
  gap: 10px;
}
.info-container{
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  margin-top:20px;
}

.order-top h1 {
  flex-grow: 1;
  text-align: center;
  margin-top: -10px;
  color:rgb(52, 52, 100);
}
.order-top button{
  font-size:20px;
  background-color: rgb(52, 52, 100);;
  color:white;

}

.user-info p {
  margin: 5px 0;
  font-weight: 500;
}

.form-group {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
}


.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width:100%
}

.measurement-details {
  margin-top: 10px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.measurement-details p {
  margin: 5px 0;
  font-size: 14px;
}

.edit-button {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #45a049;
}
.confirm-order-button {
  display: block;
  width: 50%;
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px auto;
}

.confirm-order-button:hover {
  background-color: #0056b3;
}
.garment-item {
  background-color: red;
  display: block;
  width: 50%;
  margin-top: 20px;
  padding: 10px;
  /* background-color: #007bff; */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px auto;
}

.garment-item button:hover {
  background-color: darkred;
}