@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5;
}

.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.login-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-container form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #45a049;
}

.features {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.feature-card {
  width: 250px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.feature-card h3 {
  margin-bottom: 15px;
}

.feature-card p {
  color: #333;
}
